<div class="home_container">
	<app-card
		gameCover = "assets/bt-1.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "FÍSICO | DIGTAL"
		gamePrice = "R$ 120,00"
	></app-card>
	<app-card
		gameCover = "assets/bt-4.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "FÍSICO | DIGTAL"
		gamePrice = "R$ 80,00"
	></app-card>
	<app-card
		gameCover = "assets/bt-5.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "DIGITAL"
		gamePrice = "R$ 150,00"
	></app-card>
	<app-card
		gameCover = "assets/bt-bad-company-2.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "FÍSICO | DIGTAL"
		gamePrice = "R$ 50,00"
	></app-card>
	<app-card
		gameCover = "assets/bt-hardline.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "FÍSICO | DIGTAL"
		gamePrice = "R$ 90,00"
	></app-card>
	<app-card
		gameCover = "assets/ac-cover.jpg"
		gameLabel = "OFERTA ESPECIAL"
		gameType = "DIGTAL"
		gamePrice = "R$ 60,00"
	></app-card>

</div>

